<h1>Anmeldung</h1>

<%= form_for(:sessions, :url => sessions_path) do |session_form| %>

  <p>
    <table>
      <tr>
        <td>
          <%= session_form.label "Benutzername" %>
        </td>
        <td>
           <%= session_form.select :userid, options_for_select( @users ) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= session_form.label "Passwort" %>
        </td>
        <td>
          <%= session_form.password_field :password %>
        </td>
      </tr>
    </table>
  </p>

  <p>
    <%= session_form.submit 'anmelden' %>
  </p>
<% end %>
