
	<div style="border: 1px solid black; margin-top: 5px;">
		<table class="karteikarte">
			<colgroup>
				<col width="8%">
				<col width="28%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="16%">
				<col width="4%">
				<col width="4%">
			<colgroup>
			<tr>
				<th>Datum</th>
				<th>Diagnose</th>
				<th>Laborwerte</th>
				<th>Laborwerte *</th>
				<th>Arzneien</th>
				<th>AM</th>
				<th>Impfungen</th>
				<th>Gewicht (Kg)</th>
				<th></th>
			</tr>
			<%#= tier_form.fields_for :behandlungen do |behandlung_form| %>
			
			<% behandlungen.each do |behandlung| %>
			
				<tr data-id='<%= behandlung.id %>'>
					<td><%= fmt_date( behandlung.behandlungsdatum ) %><%#= behandlung_form.text_field :behandlungsdatum_str, :size => 8, :maxlength => 10, :class => "datum" %></td>
					
					<td><%= behandlung.diagnose %><%#= behandlung_form.text_area :diagnose, :size => "20x3", :style => "resize: vertical;", :class => "karteikarte" %></td>
					
					<td><%= behandlung.laborwerte1 %><%#= behandlung_form.text_area :laborwerte1, :size => "10x3", :maxlength => 200, :class => "labor karteikarte" %></td>

					<td><%= behandlung.laborwerte2 %><%#= behandlung_form.text_area :laborwerte2, :size => "10x3", :maxlength => 200, :class => "labor karteikarte" %></td>

					<td><%= behandlung.arzneien %><%#= behandlung_form.text_area :arzneien, :size => "10x3", :maxlength => 200, :class => "karteikarte" %></td>
					
					<td><%= behandlung.arzneimittel %><%#= behandlung_form.text_area :arzneimittel, :size => "10x3", :maxlength => 200, :class => "karteikarte" %></td>

					<td>
						<% behandlung.impfungswerte.each do |impfungswert| %>
								<%= impfungswert.wert %>
						<% end %>
							
							
							
							
							<%#= Impfung.impfungswerte_for_behandlung(behandlung_form.object.id) %>
							<%#= behandlung_form.select "impfungswert_ids", options_for_select(Lookup.impfungswerte, Impfung.impfungswerte_for_behandlung(behandlung_form.object.id)  ), { },  { :multiple => "true", :style => "width:100%", :class => "impf_select" } %></td>

					<td><%= behandlung.gewicht_kg %><%#= behandlung_form.text_field :gewicht_kg, :size => 4, :maxlength => 20 %></td>

					<td><%= link_to "löschen", { :action => "destroy_behandlung", :behandlung_id => behandlung.id, :id => @karteikarte.id }, :confirm => "Behandlung löschen?", :method => :delete, :class => "text_button" %></td>
				</tr>
			<% end %><!-- each behandlungen -->
		</table>
	</div>
