
<table style="width: 90%">
	<colgroup>
		<col width="25%">
		<col width="25%">
		<col width="25%">
    <col width="25%">
	<colgroup>
			
	<tr>
    <td><h1>Patientenkartei</h1></td>
		<td style="text-align: center"><h1 style="text-decoration: underline"><%= link_to "zur Patientenübersicht", karteikarten_path() %></h1></td>
		<td style="text-align: center"><h1 style="text-decoration: underline"><%= link_to "zu den Abfragen", abfragen_karteikarten_path()%></h1></td>
		<td style="text-align: right"><h1 style="text-decoration: underline">abmelden</h1></td>
	</tr>
</table>



<%= form_for @karteikarte do |owner_form| %>
	<!-- fieldset style="background: lavender" -->
   <div style="border: 1px solid black">
		<table>
			<!--colgroup-->
				<!--col width="30%"-->
				<!--col width="70%"-->
			<!--/colgroup-->
			<tr>  
				<td>
					<table>
						<!--colgroup-->
							<!--col width="30%"-->
							<!--col width="70%"-->
						<!--/colgroup-->
					
						<%= owner_form.fields_for @person do |person_form| %>
							<tr>
								<td>Anrede</td><td><%= person_form.select :anredewert_id, Lookup.anredewerte %></td>
							</tr>
							<tr>
								<td>Titel</td><td><%= person_form.text_field :titel %></td>
							</tr>
							<tr>
								<td>Familienname</td><td><%= person_form.text_field :familienname %></td>
							</tr>
							<tr>
								<td>Vorname</td><td><%= person_form.text_field :vorname %></td>
							</tr>
							<tr>
								<td>Notiz</td><td><%= person_form.text_field :notiz %></td>
							</tr>
							<tr>
								<td>Kunde</td><td><%= person_form.check_box :kunden_kz %></td>
							</tr>
						
							<%= person_form.fields_for :postadressen do |location_form| %>
								<tr>
									<td>PLZ</td><td><%= location_form.text_field :plz %></td>
								</tr>
								<tr>
									<td>Ort</td><td><%= location_form.text_field :ort %></td>
								</tr>
								<tr>
									<td>Stra&szlig;e</td><td><%= location_form.text_field :strasse %></td>
								</tr>
							<% end %>

							<%= person_form.fields_for :kontakte do |contacts_people_form| %>
								<tr>
									<td>Telefonnr.</td><td><%= contacts_people_form.text_field :kontakt %></td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</td>
				<td>					
					<table>
						<colgroup>
							<!--col width="30%"-->
							<!--col width="70%"-->
						</colgroup>
						
						<%= owner_form.fields_for @tier do |animal_form| %>
							<tr>
								<td>Tiername</td><td><%= animal_form.text_field :tiername %></td>
							</tr>
							<tr>
								<td>Tierart</td><td><%= animal_form.text_field :tierart %></td>
							</tr>
							<tr>
								<td>Rasse</td><td><%= animal_form.text_field :rasse %></td>
							</tr>
							<tr>
								<td>Farbe</td><td><%= animal_form.text_field :farbe %></td>
							</tr>
							<tr>
								<td>Geburtsdatum</td><td><%= animal_form.text_field :geburtsdatum_str %></td>
							</tr>
							<tr>
								<td>Geschlecht</td><td><%= animal_form.select :geschlechtswert_id, Lookup.geschlechtswerte %></td>
							</tr>
							<tr>
								<td>Chipnr.:</td><td><%= animal_form.text_field :chipnr %></td>
							</tr>
							<tr>
								<td>EU-Passnr.</td><td><%= animal_form.text_field :eu_passnr %></td>
							</tr>
							<tr>
								<td>Patient</td><td><%= animal_form.check_box :patienten_kz %></td>
							</tr>
							<tr>
								<td>Viren</td><td><%= animal_form.text_field :viren %></td>
							</tr>
							<tr>
								<td>Merkmal</td><td><%= animal_form.text_field :merkmal %></td>
							</tr>
					</table>
				</td>
			</tr>
		</table>
   </div>
	
	<!-- max-height: 600px; overflow-x: inherit; no-display; overflow-y: scroll; -->
   <div style="border: 1px solid black; margin-top: 5px;">
		<table class="karteikarte">
			<colgroup>
				<col width="10%">
				<col width="30%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="5%">
				<col width="5%">
			<colgroup>
			<tr>
				<th>Datum</th>
				<th>Diagnose</th>
				<th>Laborwerte</th>
				<th>Laborwerte *</th>
				<th>Arzneien</th>
				<th>AM</th>
				<th>Impfungen</th>
				<th>Kg</th>
				<th></th>
			</tr>
			<%= animal_form.fields_for :behandlungen do |therapy_form| %>
				<tr>
					<td><%= therapy_form.text_field :behandlungsdatum_str, :style => "width:90%", :class => "karteikarte" %></td>
					
					<td><%= therapy_form.text_area :diagnose, :size => "10x5", :style => "resize: vertical", :class => "karteikarte" %></td>
					
					<td><%= therapy_form.text_area :laborwerte1, :size => "10x5", :class => "labor karteikarte" %></td>

					<td><%= therapy_form.text_area :laborwerte2, :size => "10x5", :class => "labor karteikarte" %></td>

					<td><%= therapy_form.text_area :arzneien, :size => "10x5", :class => "karteikarte" %></td>

					<td><%= therapy_form.text_area :arzneimittel, :size => "10x5", :class => "karteikarte" %></td>
					
					<td>
            <div class="karteikarte">
              <%= therapy_form.select "impfungswert_ids", options_for_select(Lookup.impfungswerte, Impfung.impfungswerte_for_behandlung(therapy_form.object.id)  ), { },  { :multiple => "true", :style => "width:100%", :class => "impf_select karteikarte" } %>
            </div>
					</td>

					<td><%= therapy_form.text_field :gewicht_kg, :style => "width:90%", :class => "karteikarte" %></td>

					<td>löschen: <%= therapy_form.check_box :_destroy %></td>
				</tr>
			<% end %>
		</table>
  </div>
  <% end %>
<!-- /fieldset -->


<p>
	<table>
		<tr>
			<td>
        <!-- div  class="actions" -->
          <%= owner_form.submit "sichern",	:class => "text_button" %>
        <!-- /div -->
      </td>
			<td>
        <%= link_to 'zurück', karteikarten_path, :class => "text_button" %>
      </td>
		</tr>
	</table>
</p>
  
  
<% end %>





<p style="display: none">
	<%= select_tag "laborwerte", options_from_collection_for_select(Lookup.laborwerte, "id", "wert", selected_value="id"), :id => 'lab', :multiple => true %>
</p>


<script>
	var labor_text_feld;
	
	function get_lab_list_text(){
	    var buf = "";
		$( '#lab option:selected').each(function () {
			buf += $(this).text() + "\n ";
		});
		
		return buf;
	}
	
	$(document).ready(function() {
    $(".impf_select").attr("data-placeholder", "bitte auswählen");
		$(".impf_select").chosen();
    
        /* $( ".karteikarte textarea" ).removeAttr( "cols" ).removeAttr( "rows"); */
	
		var $dialog_labor = $('<div></div>');
		
		$dialog_labor.html( $("#lab") );
		
		$dialog_labor.dialog({
				autoOpen: false,
				title: 'Laborwerte',
				modal: true,
				buttons: [ { text: "OK", click: function() { 
								labor_text_feld.value = labor_text_feld.value + get_lab_list_text() + '**';
			                    $('#lab option').attr('selected', false );
								labor_text_feld.focus(); 
								$(this).dialog("close"); } },
						   { text: "Abbruch", click: function() { 
								labor_text_feld.focus();
								$(this).dialog("close"); } } ] 
			});

	
			
		$('.labor').click(  function() {
			labor_text_feld = this;
			$dialog_labor.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});
	
		
	});


</script>
