
<%= form_for @karteikarte do |karteikarte_form| %>
   <div style="border: 1px solid black">
		<table>
			<tr>  
				<td>
					<table>
						<%= karteikarte_form.fields_for @person do |person_form| %>
							<tr>
								<td>Anrede</td>
                <td><%= person_form.select :anredewert_id, Lookup.anredewerte %></td>
							</tr>
							<tr>
								<td>Titel</td>
                <td><%= person_form.text_field :titel, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>Familienname</td>
                <td><%= person_form.text_field :familienname, :size => 30, :maxlength => 40 %></td>
							</tr>
							<tr>
								<td>Vorname</td>
                <td><%= person_form.text_field :vorname, :size => 30, :maxlength => 40 %></td>
							</tr>
							<tr>
								<td>Notiz</td>
                <td><%= person_form.text_area :notiz, :size => "28x2", :maxlength => 200, :style => "resize: none" %></td>
							</tr>
							<tr>
								<td>Kunde</td>
                <td><%= person_form.check_box :kunden_kz %></td>
							</tr>
						
							<%= person_form.fields_for :postadressen do |postadresse_form| %>
								<tr>
									<td>PLZ</td>
                  <td><%= postadresse_form.text_field :plz, :size => 30, :maxlength => 10 %></td>
								</tr>
								<tr>
									<td>Ort</td>
                  <td><%= postadresse_form.text_field :ort, :size => 30, :maxlength => 40 %></td>
								</tr>
								<tr>
									<td>Straße</td>
                  <td><%= postadresse_form.text_field :strasse, :size => 30, :maxlength => 40 %></td>
								</tr>
							<% end %><!-- fields postadressen -->

							<%= person_form.fields_for :kontakte do |kontakte_form| %>
								<tr>
									<td>Telefonnr.</td>
                  <td><%= kontakte_form.text_field :kontakt, :size => 30, :maxlength => 50 %></td>
								</tr>
							<% end %> <!-- fields kontakte -->
						<% end %> <!-- fields person -->
					</table>
				</td>
				<td>

		<%= karteikarte_form.fields_for @tier do |tier_form| %>
					<table>
							<tr>
								<td>Tiername</td>
                <td><%= tier_form.text_field :tiername, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>Tierart</td>
                <td><%= tier_form.text_field :tierart, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>Rasse</td>
                <td><%= tier_form.text_field :rasse, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>Farbe</td>
                <td><%= tier_form.text_field :farbe, :size => 30, :maxlength => 50 %></td>
							</tr>
							<tr>
								<td>Geburtsdatum</td>
                <td><%= tier_form.text_field :geburtsdatum_str, :size => 30, :maxlength => 10, :class => "datum" %></td>
							</tr>
							<tr>
								<td>Geschlecht</td>
                <td><%= tier_form.select :geschlechtswert_id, Lookup.geschlechtswerte %></td>
							</tr>
							<tr>
								<td>Chipnr.</td>
                <td><%= tier_form.text_field :chipnr, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>EU-Passnr.</td>
                <td><%= tier_form.text_field :eu_passnr, :size => 30, :maxlength => 30 %></td>
							</tr>
							<tr>
								<td>Patient</td>
                <td><%= tier_form.check_box :patienten_kz %></td>
							</tr>
							<tr>
								<td>Viren</td>
                <td><%= tier_form.text_field :viren, :size => 30, :maxlength => 50 %></td>
							</tr>
							<tr>
								<td>Merkmal</td>
                <td><%= tier_form.text_field :merkmal, :size => 30, :maxlength => 50 %></td>
							</tr>
					</table>
    <% end %> <!-- fields tier -->
	
				</td>
			</tr>
		</table>
   </div>
	
	<div id='behandlung_form'>
	  <%= render :partial => "behandlung_form", :locals => { :edit_behandlung => @edit_behandlung }, :action => 'edit_behandlung_karteikarte'  %>
	</div>

  <%= link_to "neue Behandlung", :onclick => "clearEdit()" %>
  <%# button_to "lösch.", { :action => "destroy", :id => karteikarte.id }, :confirm => "Löschen?", :method => :delete, :class => "text_button" %>

 
	<!-- max-height: 40%; overflow-x: inherit; no-display; overflow-y: scroll; --> 
	<div style="border: 1px solid black; margin-top: 5px;">
		<table class="karteikarte">
			<colgroup>
				<col width="8%">
				<col width="28%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="16%">
				<col width="4%">
				<col width="4%">
			<colgroup>
			<tr>
				<th>Datum</th>
				<th>Diagnose</th>
				<th>Laborwerte</th>
				<th>Laborwerte *</th>
				<th>Arzneien</th>
				<th>AM</th>
				<th>Impfungen</th>
				<th>Gewicht (Kg)</th>
				<th></th>
			</tr>
			<%#= tier_form.fields_for :behandlungen do |behandlung_form| %>
			
			<% @tier.behandlungen.order( 'behandlungsdatum desc' ).each do |behandlung| %>
			
				<tr data-id='<%= behandlung.id %>'>
					<td id="behandlungsdatum_str"><%= fmt_date( behandlung.behandlungsdatum ) %><%#= behandlung_form.text_field :behandlungsdatum_str, :size => 8, :maxlength => 10, :class => "datum" %></td>
					
					<td id="diagnose"><%= behandlung.diagnose %><%#= behandlung_form.text_area :diagnose, :size => "20x3", :style => "resize: vertical;", :class => "karteikarte" %></td>
					
					<td id="laborwerte1"><%= behandlung.laborwerte1 %><%#= behandlung_form.text_area :laborwerte1, :size => "10x3", :maxlength => 200, :class => "labor karteikarte" %></td>

					<td id="laborwerte2"><%= behandlung.laborwerte2 %><%#= behandlung_form.text_area :laborwerte2, :size => "10x3", :maxlength => 200, :class => "labor karteikarte" %></td>

					<td id="arzneien"><%= behandlung.arzneien %><%#= behandlung_form.text_area :arzneien, :size => "10x3", :maxlength => 200, :class => "karteikarte" %></td>
					
					<td id="arzneimittel"><%= behandlung.arzneimittel %><%#= behandlung_form.text_area :arzneimittel, :size => "10x3", :maxlength => 200, :class => "karteikarte" %></td>

					<td id="impfungswert_ids">
						<% behandlung.impfungswerte.each do |impfungswert| %>
								<%= impfungswert.wert %>
						<% end %>
							
							
							
							
							<%#= Impfung.impfungswerte_for_behandlung(behandlung_form.object.id) %>
							<%#= behandlung_form.select "impfungswert_ids", options_for_select(Lookup.impfungswerte, Impfung.impfungswerte_for_behandlung(behandlung_form.object.id)  ), { },  { :multiple => "true", :style => "width:100%", :class => "impf_select" } %></td>

					<td id="gewicht_kg"><%= behandlung.gewicht_kg %><%#= behandlung_form.text_field :gewicht_kg, :size => 4, :maxlength => 20 %></td>

					<td><%= link_to "löschen", { :action => "destroy_behandlung", :behandlung_id => behandlung.id, :id => @karteikarte.id }, :confirm => "Behandlung löschen?", :method => :delete, :class => "text_button" %></td>
				</tr>
			<% end %><!-- each behandlungen -->
		</table>
	</div>
	
	<p>
	<table>
		<tr>
			<td>
				<%= karteikarte_form.submit "sichern",	:class => "text_button" %>
			</td>
			<td>
				<%= link_to 'zurück', karteikarten_path, :class => "text_button" %>
			</td>
		</tr>
	</table>
</p>
  
<% end %>





<p style="display: none">
	<%= select_tag "laborwerte", options_from_collection_for_select(Lookup.laborwerte, "id", "wert", selected_value="id"), :id => 'lab', :multiple => true %>
</p>


<script>
	var labor_text_feld;
	
	function get_lab_list_text(){
	    var buf = "";
		$( '#lab option:selected').each(function () {
			buf += $(this).text() + "\n ";
		});
		
		return buf;
	}
	
	
	$.datepicker.setDefaults($.datepicker.regional['']);  
  	
	$(document).ready(function() {
		$(".impf_select").attr("data-placeholder", "bitte auswählen");
		$(".impf_select").chosen();

    $( ".karteikarte tr" ).click( function() {
			  // alert( 'hallo ' + $(this).attr( 'data-id' ));
				  $( '.karteikarte tr' ).removeClass( 'highlight' );
					$(this).addClass('highlight');
				  $.get( '/karteikarten/'+ $(this).attr( 'data-id' ) + '/edit_behandlung', null, 'script');
					 
		} );
    
    // $( ".behandlung1 textarea" ).removeAttr( "cols" ).removeAttr( "rows");
	
		
    var $dialog_labor = $('<div></div>');
		$dialog_labor.html( $("#lab") );
		$dialog_labor.dialog({
				autoOpen: false,
				title: 'Laborwerte',
				modal: true,
				buttons: [ { text: "OK", click: function() { 
							 labor_text_feld.value = labor_text_feld.value + get_lab_list_text() + '**';
			                 $('#lab option').attr('selected', false );
							 labor_text_feld.focus(); 
							 $(this).dialog("close"); } },
						   { text: "Abbruch", click: function() { 
							  labor_text_feld.focus();
							  $(this).dialog("close"); } } ] 
			});


		$('.labor').click(  function() {
			labor_text_feld = this;
			$dialog_labor.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});


		$(function() {
			$( ".datum" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
			$(".datum").datepicker($.datepicker.regional['de']);
		});
		
    
    function clearEdit(){
	    var buf = "";
		  $( '#lab option:selected').each(function () {
			buf += $(this).text() + "\n ";
		});
		
		return buf;
	}
    
    
	});


</script>
