

<%= form_tag karteikarten_path, :method => :get do %>
<p>
	<%= "Familienname" %> <%= text_field_tag "familienname", @familienname %>
	<%= "Tiername" %> <%= text_field_tag "tiername", @tiername %>
	<%= submit_tag "suchen" %>
</p>
<% end %>

<%= render :partial => "karteikarten", :locals => { :karteikarten => @karteikarten } %>


<p>
	<table>
		<tr>
			<td><%= link_to "Neue Karteikarte", new_karteikarte_path(), :class => "text_button" %></td>
		</tr>
	</table>
</p>
