<table style="width: 90%">
	<colgroup>
		<col width="34%">
		<col width="33%">
		<col width="33%">
	<colgroup>
			
	<tr>
		<td><h1><%= link_to "Patientenübersicht", karteikarten_path() %></h1></td>
		<td style="text-align: center"><h1 style="text-decoration: underline"><%= link_to "zu den Abfragen", abfragen_karteikarten_path() %></h1></td>
		<td style="text-align: right"><h1 style="text-decoration: underline"><%= link_to "abmelden", karteikarten_path() %></h1></td>
	</tr>
</table>

<%= form_tag karteikarten_path, :method => :get do %>
<p>
	<%= "Familienname" %><%= text_field_tag "familienname", @familienname %>
	<%= "Tiername" %><%= text_field_tag "tiername", @tiername %>
	<%= submit_tag "suchen" %>
</p>
<% end %>

<%= render :partial => "index_form", :locals => { :karteikarten => @karteikarten } %>


<p>
	<table>
		<tr>
			<td><%= link_to "Neue Karteikarte", new_karteikarte_path(), :class => "text_button" %></td>
			<td><%= link_to "Drucken", karteikarten_path(), :class => 'text_button' %></td> <%#={ :action => 'print'} %>
			<td><%= link_to "Excel", karteikarten_path(), :class => 'text_button' %></td> <%#={ :action => 'excel'} %>
		</tr>
	</table>
</p>