
<%= form_tag abfragen_path(), :method => :get do %>
  <%= hidden_field_tag :csv, ''  %> 
	<p>
  	<table style="height: 100%">
      <tr style="height: 30px">
        <td>Abfrage</td>
        <td><%= select_tag "abfrage", options_for_select( Lookup.abfragen.map {|u| [u.bezeichnung, u.id]}, @abfrage.id ) %></td>
        <td><%= text_field_tag "param1", @param1 %></td>
        <td><%= "Personen" %> <%= select_tag "persopt", options_for_select( Lookup.abfrage_personen ) %></td>
        <td><%= "Tiere" %> <%= select_tag "tieropt", options_for_select( Lookup.abfrage_tiere ) %></td>
        <td>
            &nbsp;
            <%#= submit_tag "suchen", :id => "suchen" %>
            &nbsp;
            <%= link_to "Suchen", '#', :onclick => 'submitHtml()', :class => 'text_button' %>
         </td>
         <td>            
            <% if @abfrage.id == 9 %>
              <%= button_to "FA", "", :onclick => 'submitFA()', :disabled => false, :class => 'text_button', :id => "finanzamt" %>
            <% else %>
              <%= button_to "FA", "", :onclick => 'submitFA()', :disabled => true, :class => 'text_button', :id => "finanzamt" %>
            <% end %>
         </td>
      </tr>
      <tr style="height: 30px">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <% if @abfrage.id == 4 || @abfrage.id == 9 || @abfrage.id == 10 %>
          <td><%= text_field_tag "param2", @param2, :disabled => false %></td>
        <% else %>
          <td><%= text_field_tag "param2", @param2, :disabled => true %></td>
        <% end %>  
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
	</table>
  </p>
<% end %>

<%= render :partial => "karteikarten/karteikarten", :locals => { :karteikarten => @karteikarten } %>

<p>
	<table>
		<tr>
			<td><%= link_to "Neue Karteikarte", new_karteikarte_path(), :class => "text_button" %></td>
		</tr>
	</table>
</p>


<script>
  $.datepicker.setDefaults($.datepicker.regional['']);  

  function submitHtml() {
    $('#csv').attr( 'value', '' );
		$('form').first().submit();
  } 
  
  function submitFA() {
    $('#csv').attr( 'value', 't' );  	
		$('form').first().submit();
  }   
  
	$(document).ready(function() {
	  
    $(function() {
      var wert = $('#param2').attr('disabled');
      if( wert != "disabled" ){
        $( "#param1" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
        $("#param1").datepicker($.datepicker.regional['de']);
        $( "#param2" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
        $("#param2").datepicker($.datepicker.regional['de']);
      }
    });
    
    $('#abfrage').change( function() {
		  var wert = $("#abfrage option:selected").get(0).value;
			if(wert == '4' || wert == '9' || wert == '10'){
        $('#param2').attr('disabled', false);
        $( "#param1" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
        $("#param1").datepicker($.datepicker.regional['de']);        
        $( "#param2" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
        $("#param2").datepicker($.datepicker.regional['de']);
        if( wert == '9' ){
          $('#finanzamt').removeAttr('disabled');
        }
        else{
          $('#finanzamt').attr('disabled', 'disabled');
					$('#csv').attr( 'value', '' );
        }
			}      
			else{
        $( "#param1" ).datepicker("destroy");
        $( "#param2" ).datepicker("destroy");
        $('#param2').attr('disabled', true);
        $('#finanzamt').attr('disabled', 'disabled');
				$('#csv').attr( 'value', '' );
			}
		} );

    $('form#suchen').click(function(){
      $('#csv').attr( 'value', '' );
  		$(this).submit();
    });
    
    $('form').keypress(function(e){
      if(e.which == 13){
        $('form').first().submit();
        e.preventDefault();
      }
    });    
    
	});

</script>
